
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Variables
@import "welcome";

.title-container{
    padding: 20px;
    text-align: center;
}
.title{
    font-size: 20px;
    color: #003399;
}
.body-container{
    padding: 20px;
    text-align: center;
}
.home .link{
    margin: 10px;
}
.profile{
    width: 150px;
    border-radius: 50%;
    float:left;
    margin-right: 25px;
}
.profile-header{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}
.profile-name-header{
    position: relative !important;
    padding-left: 50px !important;
}
.page-image{
    width: 100%;
}
.edit-page-image{
    width: 100%;
    height: auto;
}